:root {
    --rosa-principal: #C2185B;
    --cinza-sombra: #8b8b8ba6;
    --cinza-nome: #777777;
    --branco-nome: #FFFFFF;
    --cor-link-login: #000000
}

@font-face {
    font-family:"Open Sans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
}

h1 {
    text-align: center;
    margin: 2rem;

    font-size: 2rem;
    font-family: 'Open sans', Arial, sans-serif;

    color: var(--cinza-nome);

    z-index: 1;
}

a {
    color: var(--rosa-principal);
}