<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/partials/header.css">
    <link rel="stylesheet" href="stylesheet/partials/footer.css">
    <link rel="stylesheet" href="stylesheet/error-404.css">
    <script src="/javascript/side-bar-script.js"></script>
    <title>ERROR 404</title>
</head>
<body>

    <%- include('partials/header') %>

    <body>
        <div class="container">
            <h1>Desculpe, parece que à página que você acessou não existe, por favor retorne à página príncipal: <a href="/">click aqui</a></h1>
        </div>
    </body>
    
</body>
</html>