<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/index.css">
    <link rel="stylesheet" href="stylesheet/partials/header.css">
    <link rel="stylesheet" href="stylesheet/partials/footer.css">
    <script src="/javascript/side-bar-script.js"></script>
    <title>Shoes Store</title>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section id="section-1">
            <img src="/images/banner/baner.shoes.png" alt="Banner da shoes-store">
        </section>

        <section id="section-2">

            <div class="section-2-div-1">
                <p>
                    <strong>ENCONTRE SEU ESTILO</strong>
                </p>
            </div>

            <div class="section-2-div-2">

                <div class="section-2-foto-1">
                    <img src="/images/fotos-site/foto-1-section-2.png" alt="foto de modelo da shoes store">
                </div>

                <div class="section-2-foto-2">
                    <img src="/images/fotos-site/foto-2-section-2.png" alt="foto de modelo da shoes store">
                </div>

            </div>

        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>