<footer>
    <div id="container-footer">

        <div class="logo-footer">
                
            <img src="/images/logo/shoes-logo-footer.png" alt="Logo da shoes store">
            
            <p class="msg-footer">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. 
            </p>
            
        </div>

        <div class="categorias-footer">

            <div class="institucional">
                <h3>Institucional</h3>
                <ul>
                    <li class="link-footer"><a href="">Sobre nos</a></li>
                    <li class="link-footer"><a href="">Perguntas frequentes</a></li>
                    <li class="link-footer"><a href="">Politica de privacidade</a></li>
                    <li class="link-footer"><a href="">Rastreamento de pedidos</a></li>
                    <li class="link-footer"><a href="">Trabalhe conosco</a></li>
                </ul>
            </div>

            <div class="contato-footer">
                <p>
                    Av Dom Pedro II <br>
                    Nº 1000 <br>
                    Sntª Cruz - PE <br>
                    CEP: 00-000000 <br>
                    Contato <a href="https://whatsapp.com">(81) 000000000</a>
                </p>
            </div>

        </div>

        
    </div>

    <p class="copyright">
        &copy;Copyright <small>2022</small> | Create by <a href="https://github.com/IgorWillas1">Igor Willas 😀</a>
    </p>
    
</footer>