<header>
    <div id="logo_header">
        <img src="/images/logo/shoes-logo-heder.png" alt="Logo da Shoes Store">
    </div>
    <div id="menu-nav">
        <nav>
            <ul class="menu-list">
                <li class="menu-itens"><a href="#" class="menu-link">Novidades</a></li>
                <li class="menu-itens"><a href="#" class="menu-link">Sapatos</a></li>
                <li class="menu-itens"><a href="#" class="menu-link">Sandálias</a></li>
                <li class="menu-itens"><a href="#" class="menu-link">Botas</a></li>
                <li class="menu-itens"><a href="#" class="menu-link">Promoção</a></li>
            </ul>
        </nav>
    </div>

    <div id="icon-hamburguer">
        <img src="images/icons/menu-hamburguer.png" alt="menu hamburguer">
    </div>

    <div id="menu-lateral">

        <div class="side-um">
            
            <div class="side-um-constainer">

                <div class="icon-cruz">
                    <img src="images/icons/cruz.png" alt="">
                </div>
    
                <div class="login-cadastro">
    
                    <div class="side-bar-icon">
                        <a href="#">
                            <img src="images/icons/login.png" alt="Icon de login">
                            <small>Login</small>
                        </a>
                    </div>
    
                    <div class="side-bar-icon">
                        <a href="#">
                            <img src="images/icons/cadastre-se.png" alt="">
                            <small>Cadastre-se</small>
                        </a>
                    </div>
    
                </div>
            </div>
        </div>

        <div class="side-dois">
            <nav>
                <ul class="side-list">
                    <li class="side-itens"><a href="#" class="side-link">Novidades</a></li>
                    <li class="side-itens"><a href="#" class="side-link">Sapatos</a></li>
                    <li class="side-itens"><a href="#" class="side-link">Sandálias</a></li>
                    <li class="side-itens"><a href="#" class="side-link">Botas</a></li>
                    <li class="side-itens"><a href="#" class="side-link">Promoção</a></li>
                </ul>
            </nav>
        </div>
    </div>

    </div>
</header>